* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/bg.png);
    font: 17px Arial;
    color: #ddd;
}

header {
    margin-top: 60px;
    height: 30px;
}

ul {
    list-style-type: none;
}

ul li {
    height: 20px;
    width: auto;
}

a {
    text-decoration: none;
    color: #ddd;
}

a:hover {
    color: #0F0;
}

table {
    padding-left: 15px;
    padding-bottom: 15px;
}

table tr th, table tr td {
    padding: 7px;
}

input {
    margin: 15px 0;
    width: 305px;
    height: 25px;
}

textarea {
    margin: 10px 0;
    width: 305px;
    height: 170px;
}

input, textarea {
    padding-left: 10px;
}

header ul li {
    padding: 5px 10px;
}

.headerli-first{
    margin-left: 60px;
}

.headerli-first, .headerli-second{
    border-right: 1px solid #ccc;
}

.headerli-first, .headerli-second, .headerli-third{
    float: left;
}

.inline-left {
    float: left;
}

.inline-right {
    float: right;
}

.border {
    box-shadow: 0 0 7px #ccc;
}

.visible {
    display: block;
}

.unvisible {
    display: none;
}

.border-solid {
    border: 1px solid #ddd;
}

.partition-solid {
    border-right: 1px solid #ccc;
}

.partition-dashed {
    border-bottom: 1px dashed #aaa;
}

.table-border {
    border: 1px solid #fff;
}

.font-tnr, p {
    font: 17px Times New Roman;
}

.font-arial {
    font: 17px Arial;
}

.font-vernara {
    font: 17px Vernara;
}

.font-black {
    font: 17px Vernara;
    color: #000;
}

.bold {
    font-weight: bold;
}

.content {
    width: 1228px;
    height: 100%;
    margin: 0;
    padding: 0 15px;
}

.content h2, .content h3 {
    font: 17px Arial;
}

.content h2 {
    padding: 15px 0 15px 15px;
}

.content h3 {
    padding: 15px 0 20px 15px;
}

.content p {
    padding: 10px 0;
    letter-spacing: 1px;
}

.form {
    margin: 0 5px;
    width: 334px;
    height: 520px;
}

.form h2 {
    padding: 0px;
}

.desk {
    height: 500px;
    width: 55%;
    margin: 13px 3px 13px 0;
}

.msg {
    margin: 10px 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.msg-pagenumber {
    width: 22px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
}

.btn {
    width: 110px;
    height: 25px;
    color: #000;
    margin-right: 15px;
    padding-left: 5px;
}

.font-green {
    color: #aca;
}

.inflow-left {
    clear: left;
}

.wrapper {
    width: 1536px;
    margin: 0 auto;
}

.main {
    margin-top: 10px;
}

.sidebar-right {
    margin-top: 20px;
    float: right;
}

.sidebar-right ul li {
    padding: 6px 40px 6px 25px;
}

.error_block {
    color: #FF7373;
}

.success_block {
    color: #aca;
}

.msg p {
    padding: 0;
}

.msg-text {
    margin-top: 30px;
}

#padding-more {
    padding-bottom: 30px;
}



