* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
p {
  margin: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#wrapper {
  background-color: #fff;
  min-height: 100%;
  position: relative;
}
#container {
  width: 940px;
  margin: 0 auto;
}
#main {
  width: 948px;
  margin-top: 36px;
}
/*HEADER*/
header {
  width: 948px;
  height: 101px;
}
.logo {
  height: 44px;
  width: 213px;
  float: left;
  margin-left: 3px;
  overflow: hidden;
  padding-top: 17px;
}
.dotted_line {
  margin-top: 24px;
  margin-left: 28px;
  float: left;
}
.slogan {
  margin-left: 30px;
  color: #bbbbbb;
  font: bold 14px Arial;
  margin-top: 32px;
  float: left;
}
.auth {
  margin-right: 23px;
  font: bold 14px Regular;
  margin-top: 30px;
  float: right;
}
.auth a {
  color: #bbbbbb;
  text-decoration: none;
}
/*MAIN MENU*/
#mainmenu {
  width: 948px;
  height: 53px;
}
#mainmenu ul {
  height: 100%;
}
#mainmenu ul li {
  margin-left: 5px;
  float: left;
  text-align: center;
}
#mainmenu ul li a {
  color: #666;
  text-decoration: none;
  width: 131px;
  border-radius: 7px;
  font: 18px Arial;
  background: linear-gradient(to bottom, #f6f6f6, #d6d6d6);
  display: block;
  line-height: 53px;
}
#mainmenu ul li .active {
  background: #3366CC;
  color: #FFFEFE;
  text-decoration: none;
}
#mainmenu ul li:first-child {
  margin-left: 0;
}
/*SLIDER*/
#slider {
  width: 635px;
  background: url(../img/slider.png);
  height: 375px;
  float: left;
}
#slider div p {
  color: #fff;
  text-align: left;
  font: 30px Myriad Pro;
}
.team {
  width: 157px;
  margin: 41px 0 0 413px;
}
/* .next_image {
  margin: 210px 0 0 536px;
}*/
/*SIDEBAR RIGHT*/
#sidebar-right {
  float: right;
  width: 303px;
  height: 375px;
  background: url(../img/frame.png);
}
#sidebar-right table {
  width: 263px;
  height: 284px;
  margin-top: 71px;
  margin-left: 20px;
}
#sidebar-right table td {
  border: 1px solid #45B0FE;
  font: 18px Arial;
  text-align: center;
}
/*CONTENT*/
.content {
  clear: both;
  padding-top: 27px;
}
.content div .article_block {
  margin-left: 19px;
  float: left;
}
.content div .article_block:first-child {
  margin-left: 0;
}
.content div .article_block ul li:first-child {
  background: url(../img/solid_line.png) no-repeat;
  padding-top: 20px;
}
.content .next {
  margin-top: 10px;
  padding: 10px 0px 7px 0px;
  border-radius: 10px;
  text-decoration: none;
  font: 14px Arial;
  color: #666666;
  background: linear-gradient(to bottom, #f5f5f5, #d9d9d9);
  text-align: center;
  width: 70px;
  display: block;
}
.content table th,
.content table td {
  border: 1px solid #000;
  padding: 10px;
}
.content table th {
  font: bold 17px Times New Roman;
}
.content .form {
  margin: 0 5px;
  width: 334px;
}
.content .form label {
  cursor: pointer;
}
.content .form input {
  margin: 15px 0;
  width: 305px;
  height: 25px;
}
.content .form textarea {
  margin: 10px 0;
  width: 305px;
  height: 100px;
}
.content .form .btn {
  width: 110px;
  height: 35px;
  color: #fff;
  background: #3366CC;
  padding-left: 5px;
  border: none;
  border-radius: 8px;
}
.content .msg_for_user {
  border-radius: 6px;
  width: 334px;
  margin-bottom: 15px;
  float: left;
}
.content .msg_for_user .info {
  font: normal 18px Arial;
}
.content .msg_for_user .error_block {
  margin-top: 10px;
  background-color: #FFBFBF;
}
.content .desk {
  float: right;
}
.content .desk .msg {
  margin: 10px 0;
  padding: 10px 10px;
  width: 465px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 0 7px #3366CC;
}
.content .desk .msg p {
  padding: 0;
}
.content .desk .msg_data {
  float: right;
  font: normal 14px Arial;
  display: block;
  line-height: 30px;
}
.content .desk .msg_name {
  float: left;
  border-bottom: 1px dashed #555;
  font: normal 16px Arial;
  display: block;
  line-height: 30px;
}
.content .desk .msg_text {
  clear: both;
  font: italic 16px Arial;
  color: #3366CC;
  display: block;
  line-height: 30px;
}
.content .desk .msg-pagenumber {
  width: 22px;
  height: 20px;
  margin: 0 0 5px 5px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ddd;
  color: #888;
  float: right;
  text-decoration: none;
}
.content .desk .msg-pagenumber:hover {
  color: #3366CC;
}
.article {
  margin-top: 9px;
  width: 302px;
  font: normal 12px Arial;
  line-height: 1.3;
}
.imgcomment {
  width: 235px;
  float: right;
  padding-top: 7px;
  padding-right: 7px;
}
.article_title {
  width: 302px;
  font: normal 18px Arial;
}
.about_company li:first-child {
  padding-top: 20px;
}
.about_company .article_notfirst {
  margin-top: 18px;
}
.news li:first-child {
  padding-top: 21px;
}
.news .article_notfirst {
  margin-top: 15px;
}
.persents li:first-child {
  padding-top: 22px;
}
.persents .article_notfirst {
  margin-top: 14px;
}
.a_reg {
  color: #3366CC;
}
.bold {
  font-weight: bold;
}
.heading {
  text-align: center;
  color: #3366CC;
}
.story {
  margin: 20px 0;
}
/*FOOTER*/
footer {
  background: url(../img/footer_line.png) repeat-x #eeeeee;
  height: 85px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
#footer_inner {
  width: 940px;
  margin: 0 auto;
}
#footer_inner ul li {
  float: left;
  display: block;
  line-height: 85px;
  text-align: center;
}
#footer_inner ul li a {
  color: #111111;
  margin-left: 34px;
  font: normal 12px Arial;
}
#footer_inner ul li:first-child a {
  margin-left: 0;
}
